.*
.DS_Store
**/bin
*.iml
*.class
*.dll
*.ear
*.gz
*.jar
*.sublime-project
*.sublime-workspace
*.tgz
*.userprefs
*.war
*.zip
*passwords.txt*
*~
obj
runlocal*
runPost*
target
tempBuild
sonar-project.properties
dependency-reduced-pom.xml
TestResult.xml
velocity.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Sphinx documentation
docs/_build/

# Compiled web files
bower_components
node_modules

# User-specific files
*.suo
*.user
*.sln.docstates
*.v12
*.csproj
*.sln

COOKIES
cookies.txt
log.txt
